<div class="jumbotron">

    
<form action="">
<input type="checkbox" name="service" value="Facial">Facial<br>
<input type="checkbox" name="service" value="Eyelashes">Eye Lashes<br> 

<input type="checkbox" name="service" value="Waxing">Waxing<br>
<input type="checkbox" name="service" value="HairColor">Hair Color<br>

<input type="checkbox" name="service" value="BlowOut">Blow Out<br>


<input type="checkbox" name="service" value="Tanning">Tanning<br>


<br>
<br>

<a href="#schedule">Click Here for Available Dates and Times</a> 



</form>



</div>

